body {
	font-style: oblique;
	 background: linear-gradient(to right, black, grey);
	text-align: center;
    background-image: url(toto.jpg);
}

#calculator {
	border: 1px solid grey;
	width: 280px;
	height: 400px;
	background-color: #e0e0d1;
	margin: 0 auto;
	position: relative;
	top: 20px;
	align-items: center;
	box-shadow: 5px 10px #c2c2a3;
	border-radius: 12px
}
#output {
	margin-right: 15px;
	margin-left:  15px;
	margin-top: 30px;
	margin-bottom: 15px;
	align-self: : center;
	border: 1px solid orange;
	background: orange;
	width: 245px;
	height: 60px;
	border-radius: 12px
	font-size: 100%;
}
button {
	width: 60px;
	height:  60px;
	font-size: 30px;
	margin-top: 5px;
	border-radius: 50%;
}
#buttons {
	align-items: center;


}
h3 {
	font-size: 40px;
}

.clear {
	background-color: orange;
	color: white;
	border: 2px solid orange;

}

#minus, #plus, #equal {
	background-color: orange;
	color: white;
	border: orange;
}


.number {
	background-color: black;
	color: white;
	border: black;
}

.empty {
	background-color: black;
	color: white;
	border: black;
}

	background-color: lightblue;
	text-align: center;
}
#container {
  width:1000px;
  height: 550px;
  margin: 20px auto;
  background-color: grey;
}
#calculator {
	width: 320px;
	height: 520px;
	background-color: white;
	margin: 0 auto;
	position: relative;
	top: 20px;
}
#output {
	background-color: yellow;
	width:320px;
	height: 50px
}


