body {
	font-style: oblique;
	background-color: lightblue;
	text-align: center;

}

#container {
  width:1000px;
  height: 550px;
  margin: 20px auto;
  background-color: grey;
}

#calculator {
	width: 320px;
	height: 520px;
	background-color: white;
	margin: 0 auto;
	position: relative;
	top: 20px;
}


#output {
	background-color: yellow;
	width:320px;
	height: 50px
}
}